*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}

li{
    margin: 10px auto;
    border: solid 1px black;
    width: 30%;
    list-style: none;
    padding: 5px;
}
li:hover{
    background: lightgray;
}